



.blog-content{
	margin-top: 20px;
	padding:20px;
	margin: 10px 0 40px;
	
}

.blog-content h2{
  text-align:left;
  padding: 15px;
  font-size: 28px;
  margin-left:3%;
  margin-right:25%;
}  
.blog-content p{
	font-size:18px;
	margin-left:65px;
	margin-right:65px;
	font-family:"Times New Roman", Times, serif;
	
}


  


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

