/* responsive design*/



@media (max-width: 700px) {

}

/* style.css */

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #f8f9fa; */
    /* color: #404E67;
    background: #F5F7FA; */
}




.Profile {
    /* background-color: #f8f9fa; */
    color: #404E67;
    background: #F5F7FA;
    /* padding: 40px; */
    margin-top: 20px;
    max-width: 900px;
    margin: auto;
}



h1 {
    color: #007bff;
}

p {
    color: #6c757d;
}

.form-label {
    font-size: 24px;
    color: #495057;
}

.form-control {
    margin-bottom: 15px;
}

.btn-info {
    color: white;
    margin-bottom: 10px;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-info:hover {
    color: black;
    background-color: #bad5f3;
    border-color:  #bad5f3;
}


/*user profile design*/


