*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.Login{
flex-direction: column;
margin:100px auto 0;
width:90%;
padding:30px;
max-width:800px;
border-radius:20px;
}
.btn{
	border:1px solid #333;
	width: 50%;
	margin: 10px 0;
	padding: 10px;
	color: #333;
	transition: all 0.3s;
	cursor:pointer;
}
#container{
	border-style:solid;
	margin-top:20px;
    margin-right:35%;
    margin-left:35%;
    padding:0px;
    width:650px;
    height:470px;
	text-align: center;
}