*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(78, 79, 83, 0.7),rgba(4,9,30,0.7)),url(https://media.istockphoto.com/photos/cross-roads-manila-picture-id172192324?k=6&m=172192324&s=612x612&w=0&h=WJQycnDiLjNry-Gq3cu6OnG7LRn4pDcetK1_QTm3QU4=);
    background-position: center;
    background-size: cover;
    position: relative;


}



nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    margin-left: 200px;
}

.search-bar button{
    background-color:  #f44336;
    color: white;
    padding: 5px;
}

.search-bar .input{
    
    padding: 5px 50px 5px 50px;

 
   
}
nav img{
    width: 85px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.title{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.title h1{
    font-size: 62px;
}

.title p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}




/*----course---*/

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}



.row{
    display: flex;
    flex-direction: column; /* Change to column direction for a vertical layout */
    align-items: center; /* Center items along the horizontal axis */
    margin: 5%;
}


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}




/*---blog---*/

.blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.blog-col{
    flex-basis: 100%; /* Occupy the full width of the container in a vertical layout */
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;

}

.blog-col img{
    width: 50%;
    background-size: cover;
}

.img-container {
    width: 50%; /* Adjust the width for the image container */
    overflow: hidden;
}

.text {
    width: 50%; /* Adjust the width for the text container */
    background-color: rgba(255, 255, 255, 0.9); /* Add a background color for better readability */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h3 {
    font-weight: 600;
    font-size: 20px;
    color: #333; /* Set the text color */
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    position: absolute;
    top: 50%; /* Position the layer at the vertical center of the container */
    left: 0;

    transform: translateY(-50%); /* Adjust for centering */
    text-align: center;
   
}

.layer:hover{
  background:rgba(169, 169, 169, 0.7);
}

.layer h3{
 
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: right;
        font-weight: 500;
        font-size: 26px;
        color: black;
        transition: 0.10s;
        text-shadow: 2px 2px 4px rgba(15, 5, 2, 0.5); /* Add text shadow for highlighting */
    }
    

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}




.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}